
.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.dndflow aside .description {
  margin-bottom: 10px;
}

.leaflet-control-geosearch {  left: 300px;  z-index: 10002; }

.sidebarbuttons {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 120px;
  top: 0;
}

.dot {
  width: 48px;
  height: 48px;
  border: 4px solid black;
  border-radius: 50%;
  margin: auto;
        }
.dotIcon {

    width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 100%;

}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 32.5px 0 32.5px 56.3px;
  border-color: transparent transparent transparent #c37777;
  transform: rotate(0deg);
}

.sideIcon {
  width: 80px;
  height: 80px;
}

.icon {
  width: 32px;
  height: 32px;
}


@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.marker-hover {
  cursor: crosshair;
}

.marker-draggable {
  cursor: move;
}

.delete-button {
  color: red;
}

.search-bar {
    display: flex;
}

.leaflet-control-geosearch .search-input {
    display: none;
    width: 300px;
}

.leaflet-control-geosearch .glass {
    background: none;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}