
.leaflet-control-geosearch {  left: 300px;  z-index: 10002; }

.dot {
  width: 48px;
  height: 48px;
  border: #636363 solid 6px;
  border-radius: 50%;
  margin: auto;
  background-color: #ECEFF1;
        }


.sideIcon {
  width: 80px;
  height: 80px;
}

.icon {
  width: 32px;
  height: 32px;
}


@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.marker-hover {
  cursor: crosshair;
}

.marker-draggable {
  cursor: move;
}

.delete-button {
  color: red;
}

.search-bar {
    display: flex;
}

.leaflet-control-geosearch .search-input {
    display: none;
    width: 300px;
}

.leaflet-control-geosearch .glass {
    background: none;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaflet-marker-icon img{
    width: 100%;
    height: 100%;
}

.highlighted-icon-container{
    border-radius:50%;
    position: relative;
    
}

.highlighted-icon-container::before {
    /*Positioning of circle highlight*/
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(53, 140, 251, 0.3);
    /*Making sure that highlight is behind the markers*/
    z-index: -1;
    /*pointer-events: none;*/
}

/*Overkill to remove solid white box from appearing behind markers on the map */
.leaflet-marker-icon,
.leaflet-marker-icon.leaflet-zoom-animated,
.leaflet-marker-icon.leaflet-interactive,
.leaflet-marker-icon.leaflet-marker-draggable,
.leaflet-marker-icon.leaflet-marker-icon {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/*.leaflet-marker-icon::hover{
    filter:brightness(1.25);
}*/
